<div>
  <h1>
    Cadastro de candidato
  </h1>
</div>
<br>
<form [formGroup]="formulario" class="form-horizontal">

  <div class="form-group" [ngClass]="aplicaCssErro('nome')">

    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">
      <app-controle-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório.">
      </app-controle-erro>
    </div>

  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('cpf')">

    <div class="col-sm-12">
      <label for="cpf" class="control-label">CPF</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="cpf" id="cpf" placeholder="Ex.: 000.000.000-00">
      <app-controle-erro [mostrarErro]="verificaValidTouched('cpf')" msgErro="CPF é obrigatório.">
      </app-controle-erro>
    </div>

  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('email')">

    <div class="col-sm-12">
      <label for="email" class="control-label">E-mail</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="email" id="email" placeholder="Ex.: abc@hotmail.com">
      <app-controle-erro [mostrarErro]="verificaValidTouched('email')" msgErro="E-mail é obrigatório.">
      </app-controle-erro>
    </div>

  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('telefone')">

    <div class="col-sm-12">
      <label for="telefone" class="control-label">Telefone</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="telefone" id="telefone" placeholder="Ex.: 00000-0000">
      <app-controle-erro [mostrarErro]="verificaValidTouched('telefone')" msgErro="Telefone é obrigatório.">
      </app-controle-erro>
    </div>

  </div>
  
  <div class="form-group" [ngClass]="aplicaCssErro('curriculo')">

    <div class="col-sm-12">
      <label for="curriculo" class="control-label">Currículo</label>
    </div>

    <div class="col-sm-12">
      <textarea type="text" class="form-control" formControlName="curriculo" id="curriculo" placeholder="Insira seus dados" rows="5"></textarea>
      <app-controle-erro [mostrarErro]="verificaValidTouched('curriculo')" msgErro="Curriculo é obrigatório.">
      </app-controle-erro>
    </div>

  </div>
  
  <div class="text-right">
    <button class="btn btn-warning" (click)="resetar()">Resetar</button>
    <button style="margin-left: 1em;" type="submit" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
  </div>

</form>
