<div>
  <h1>
    Detalhes da Vaga
  </h1>
</div>
<br>
<form class="form-horizontal">

  <div class="form-group">

    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="nome" id="nome" disabled>
    </div>

  </div>

  <div class="form-group">

    <div class="col-sm-12">
      <label for="descricaoDetalhada" class="control-label">Descrição</label>
    </div>

    <div class="col-sm-12">
      <textarea type="text" class="form-control" formControlName="descricaoDetalhada" id="descricaoDetalhada" rows="5" disabled></textarea>
    </div>

  </div>

  <div class="form-group" >

    <div class="col-sm-12">
      <label for="requisitos" class="control-label">Requisitos</label>
    </div>

    <div class="col-sm-12">
      <textarea type="text" class="form-control" formControlName="requisitos" id="requisitos" rows="5" disabled></textarea>
    </div>

  </div>

  <div class="form-group">

    <div class="col-sm-12">
      <label for="observacoes" class="control-label">Observacoes</label>
    </div>

    <div class="col-sm-12">
      <textarea type="text" class="form-control" formControlName="observacoes" id="observacoes" rows="5" disabled></textarea>
    </div>

  </div>

  <div class="form-group">

    <div class="col-sm-12">
      <label for="data" class="control-label">Data de Aspiração</label>
    </div>

    <div class="col-sm-12">
      <textarea type="text" class="form-control" formControlName="data" id="data" disabled></textarea>
    </div>

  </div>



  <table style="width: 100%;">
    <tr>
      <td>
        <div class="text-right">
          <button style="margin-left: 1.2em;" type="submit" class="btn btn-primary" (click)="cadastrarNaVaga()" id="btn-cadastrarNaVaga">Cadastrar</button>
        </div>

      </td>
    </tr>
  </table>

  <br><br>




</form>




